@{
    ViewBag.Title = "About";
}
<h2>About Us</h2>

<p>
   Big tire Monster truck. Sell sell monster truck tires for the average truck driver who wants to have fun.
</p>

<h3>Meet the Developers</h3>
<p>
    Name: Rob Dunavan<br />
    Email: rrdunavan@dmacc.edu<br />
    Role: Game Developer
</p>
<p>
    Name: Jonathan Long<br />
    Email: jlong12@dmacc.edu<br />
    Role: Game Developer
</p>





